<!DOCTYPE html>
<html>
<head>
<title>Byte 1</title>
</head>
<body>
<h1>Data Pipeline Project Byte Example</h1>
	<p> Research Question: Where have people spotted UFOs the most? </p>
<iframe width="700" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1%3E%3E0+from+1KYZqfQKb4SjPFZNHX63iczxiE4GOSdj8d-VofedZ&amp;viz=MAP&amp;h=false&amp;lat=55.034063294575795&amp;lng=-51.20063834999996&amp;t=1&amp;z=2&amp;l=col1%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe>
</body>
</html>